<% content_for :title do %>
    Умови вступу
<% end %>
<div class="content-head">
  <h3>Умови вступу</h3>
</div>
<div class="content-body">
  <p>
    Національний технічний університет України
    «Київський політехнічний інститут»
    проводить конкурсний відбір серед студентів 2-х, 3-х курсів вищих навчальних
    закладів ІІІ-ІV рівня акредитації, які бажають проходити військову
    підготовку за програмою підготовки офіцерів запасу.
    <ol>
      <li>
        <strong>
          Студентам до початку конкурсного відбору НЕОБХІДНО:
        </strong>
        <ul>
          <li>
            подати до приймальної комісії
            (<%= link_to 'вул. Верхньоключова 4', contacts_path %>) заяву про
            бажання проходити військову підготовку та відомість успішності
            (можна скачати за <%= link_to 'посиланням', download_path(@application) %>),
            або витяг із навчальної картки з оцінками, підписані деканом
            факультету (з основного місця навчання) і завірені печаткою
            деканату;
          </li>
          <li>
            до заяви додати копію паспорта громадянина України
            (перша та друга сторінки), копію ідентифікаційного коду, копію
            приписного свідоцтва з відміткою про придатність до військової
            служби;
          </li>
          <li>
            пройти військово-лікарську комісію
            (<%= link_to 'перелік медичних документів', for_listener_medical_examination_certificate_path %>) за
            місцем перебування на військовому обліку.
          </li>
        </ul>
        Направлення для проходження військово-лікарської комісії видається на
        факультеті військової підготовки за адресою:
        <%= link_to 'вул. Верхньоключова 4', contacts_path %>,
        кабінет № 201 з 9<sup>00</sup> до 13<sup>00</sup> та з
        14<sup>00</sup> до 17<sup>00</sup> щоденно, крім суботи та неділі.
      </li>
      <li>
        <strong>
          Для участі у конкурсному відборі студентам необхідно:
        </strong>
        <ul>
          <li>
            в день проведення конкурсного відбору (буде доведено додатково)
            прибути о 14 год. 30 хв. за адресою м. Київ, вул. Верхньоключова 4
            (<%= link_to 'на карті', contacts_path %>).
          </li>
          <li>
            при собі мати паспорт, приписне свідоцтво або військовий квиток,
            довідку про висновок військово-лікарської комісії за місцем
            перебування на військовому обліку (ксерокопії не приймаються).
          </li>
        </ul>
      </li>
      <li>
        <strong>
          Відбіркова комісія розглядає:
        </strong>
        <ul>
          <li>
            рівень успішності навчання за попередні семестри;
          </li>
          <li>
            професійно-психологічний стан кандидатів (тестування);
          </li>
          <li>
            рівень фізичної підготовки студентів
            (підтягування, біг – 100 м, крос 1000 м.);
          </li>
          <li>
            рівень засвоєння студентами програми допризовної підготовки.
          </li>
        </ul>
      </li>
    </ol>
    <h4>
      Орієнтовна вартість навчання – 3500 грн. за семестр.
    </h5>
    Довідка: за телефонами: (044) 406-85-88, 406-84-72, 454-92-42.
  </p>

<h4>Документи для вступу</h4>
<ul>
  <li>
    <%= link_to "Оголошення про конкурсний відбір 2015", download_path(@announcement) %>.
  </li>
  <li>
    Заява про бажання проходити військову підготовку:
    <%= link_to 'Заява на вступ 2015', download_path(@application) %>.
  </li>
  <li>
    <%= link_to "Графік проведення відборів 2015", download_path(@schedule_selections) %>
  </li>
</ul>
  <!-- <h3><a target="_blank" href="https://www.dropbox.com/s/d6pjn27yxksvkp0/%D0%9F%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0%20%D0%BF%D1%80%D0%B8%D0%B9%D0%BE%D0%BC%D1%83%202015.docx?dl=0" class="file-type docx"><strong>Правила прийому 2015</strong></a></h3> -->
  <!-- <h3><a target="_blank" href="https://www.dropbox.com/s/av5yj0jtrg1h77z/%D0%97%D0%B0%D1%8F%D0%B2%D0%B0%20%D0%BD%D0%BE%D0%B2%D0%B0%202015%20doc.doc?dl=0" class="file-type docx"><strong>Заява для вступу 2015</strong></a></h3> -->
  <!-- <h3><a target="_blank" href="https://www.dropbox.com/s/kpg0mf23betbp45/%D0%93%D1%80%D0%B0%D1%84%D1%96%D0%BA%20%D0%BF%D1%80%D0%BE%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%BD%D1%8F%20%D0%9A%D0%BE%D0%BD%D0%BA%D1%83%D1%80%D1%81%D0%BD%D0%BE%D0%B3%D0%BE%20%D0%B2%D1%96%D0%B4%D0%B1%D0%BE%D1%80%D1%83%202015.doc?dl=0" class="file-type xlsx"><strong>Графік ДПЮ 2015.(Конкурсний відбір проводиться за адресою: вул. Нижньоключова 4 (27-й корпус))</strong></a></h3> -->
  <!--
<li style="list-style: none;"><a class="file-type docx" href="https://www.dropbox.com/s/tg1j936zh9f9xim/%D0%9E%D0%B3%D0%BE%D0%BB%D0%BE%D1%88%D0%B5%D0%BD%D0%BD%D1%8F%20%D0%BF%D1%80%D0%BE%20%D0%BE%D0%B3%D0%BB%D1%8F%D0%B4%D0%BE%D0%B2%D1%96%20%D0%B7%D0%B0%D0%BD%D1%8F%D1%82%D1%82%D1%8F%202013.docx" target="_blank"><strong>Оголошення про оглядові заняття 2013.docx</strong></a></li>
-->
  <!-- <h3><a target="_blank" href="https://www.dropbox.com/s/mep92hgriglsb92/%D0%9E%D0%93%D0%9E%D0%9B%D0%9E%D0%A8%D0%95%D0%9D%D0%9D%D0%AF%20%D0%BD%D0%BE%D0%B2%D0%B5%202015%281%29.doc?dl=0" class="file-type docx"><strong>Оголошення про конкурсний відбір 2015</strong> -->
    <!-- </a></h3> -->
  <!--
<li style="list-style: none;"><a class="file-type docx" href="https://www.dropbox.com/s/o8nffasv9jw686n/Dni_vidviduvannya_zanyat_dlya_internetu.xls?dl=0" target="_blank"><strong>Дні відвідування занять з військової підготовки студентами І та ІІ року навчання факультету військової підготовки.doc</strong>
<li style="list-style: none;"><a class="file-type docx" href="https://www.dropbox.com/s/ljrnrty7ez3rlj5/%D0%9F%D0%B0%D0%BC%D1%8F%D1%82%D0%BA%D0%B0%20%D1%81%D1%82%D1%83%D0%B4%D0%B5%D0%BD%D1%82%D1%83.docx" target="_blank"><strong>Памятка студенту.docx</strong></a></li>
<li style="list-style: none;"><a class="file-type docx" href="https://www.dropbox.com/s/vmgwvw9ljdsznki/%D0%97%D0%B0%D0%BA%D0%BE%D0%BD%20%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B8%20%D0%9F%D1%80%D0%BE%20%D0%B2%D1%96%D0%B9%D1%81%D1%8C%D0%BA%D0%BE%D0%B2%D0%B8%D0%B9%20%D0%BE%D0%B1%D0%BE%D0%B2%27%D1%8F%D0%B7%D0%BE%D0%BA%202013.docx" target="_blank"><strong>Закон України Про військовий обов'язок 2013.docx</strong></a></li>
<li style="list-style: none;"><a class="file-type docx" href="https://www.dropbox.com/s/a04rsgs676m5fe7/%D0%92%D1%96%D0%B4%D0%BE%D0%BC%D1%96%D1%81%D1%82%D1%8C%20%D0%90-3%202013.docx" target="_blank"><strong>Відомість А-3 2013.docx</strong></a>
</li>
-->
  <!-- <h3><a target="_blank" href="http://fvp.kpi.ua/materials/show/9" class="file-type url"> <strong> Довідка з висновком військово-лікарської комісії</strong></a></h3> -->
  <!-- <h3><a class="file-type url" href="http://fvp.kpi.ua/materials/show/13" target="_blank"><strong>Витяг із Наказу Міністра оборони України</strong></a> -->
    <!-- <h3> -->
    </div>
    <!-- <p class="design">Designed by Anastasiya Lisovska</p> -->