<% content_for :title do %>
    Історія кафедри
<% end %>
<div class="content-head">
  <h3>Історія Кафедри військової підготовки</h3>
</div>
<div class="content-body">

<div class="hist_mid">
    <p>Цільова підготовка воєнізації полягала в тому, щоб забезпечити військовому відомству підготовку в мирний час командирів та спеціалістів запасу, а з іншої сторони - через проходження наміченого курсу вищої допризовної військової підготовки (ВДВП) спростити й полегшити набуття військових знань та отримання звання командира запасу робітничо-селянської червоної армії (РСЧА).</p>
    <p>Наказом по особовому складу РСЧА №780 від 04.11.26р. старшим військовим керівником ВУЗів м. Києва і військовим керівником КПІ був призначений комбриг Ольдорогге Володимир Олександрович, заступник начальника школи червоних командирів імені Камєнєва.</p>
    <p>На посаду завідувючого військовим кабінетом при КПІ 17.09.26р., був призначений Костко Михайло Іванович.</p>
    <p>Військовий кабінет був створений для вирішення завдань по зосередженню всієї наглядної агітації, схем, діаграм, матеріальної частини зброї та інших цінних посібників для вивчення військової справи.</p>
    <div class="full-photo-container">
        <%= image_tag("break.jpg",  :alt => "На перерві між заняттями", class: "full-photo") %>
        <p class="full-photo-title">На перерві між заняттями</p>
    </div>
    <p >02.10.26р. військовий керівник КПІ Ольдорогге В.О. доповідає управлінню КПІ про хід підготовки до воєнізації і пропонує почати військове навчання студентів 15.10.1926р. Цей день і вважається Днем початку військової підготовки в КПІ.</p>
    <p>Відповідно до доповіді Ольдорогге В.О., в першому навчальному році воєнізації планувалось дати студентам загальновійськову підготовку, а заняття за спеціальністю починати на 2-3 курсах, так як ВДВП вводилась на 1-3 курсах.</p>
    <p>Число навчальних груп в 1926/27 навчальному році складало-21 групу. В склад групи в середньому входило 75 чоловік, отже, загальна кількість студентів які проходили ВДВП приблизно було -1575 чоловік.</p>
    <p>Навчання військовим дисциплінам проводилось лекційним методом, вирішенням показових тактичних задач та лабораторних робіт. Після закінчення теоретичного курсу навчання студенти проходили 2-х місячні збори в військових частинах.</p>
    <p>16.09.30р. в Київському політехнічному інституті була створена військова кафедра, завідуючим якої було призначено Ольдорогге В.О.</p>
    <p>З березня 1931р. по 01.09.31 р. завідуючим кафедри тимчасово призначено Попова І.І. З 01.09.31р. - завідуючим кафедрою призначається Волинський І.В.</p>
    <p>З початку організації і до 1941 року військова кафедра готувала командирів взводів запасу проводового та радіозв’язку, наземної артилерії, протихімічного захисту і саперів.</p>
    <p>До початку Вітчизняної війни кафедра підготувала більше 5000 командирів взводів.</p>
    <p>В 1941р. Київський політехнічний інститут був евакуйований в м.Ташкент, де кафедра здійснювала підготовку слухачів для військових академій. Серед студентів-дівчат готувались радистки для партизанських загонів.</p>
    <p>Після повернення в 1944 році в м. Київ і до 1948 року військова кафедра готувала для Червоної армії стройових офіцерів складу автомобільних військ із числа чоловіків, придатних до стройової служби. З числа чоловіків придатних до нестройової служби і жінок військова кафедра готувала офіцерів технічного складу автомобільних військ.</p>
  <div class="full-photo-container">
        <%= image_tag("education-process.jpg",  :alt => "Навчальний процес", class: "full-photo") %>
        <p class="full-photo-title">Навчальний процес</p>
    </div>
    <p >З 1948 по 1953 рр. здійснювалась підготовка офіцерів запасу для автомобільних військ і військ зв’язку, з 1953 по 1960 рр. офіцерів запасу для військ протиповітряної оборони (ППО) країни, а починаючи з 1960 року - офіцерів запасу для військ ППО Сухопутних військ. З 1969 року на кафедрі розпочалася підготовка військових інженерів запасу для Військово-морських сил. До 1993 року кафедра складалася із 7 циклів.</p>
    <p>З 1948 по 1953 рр. Військова кафедра готувала офіцерів запасу для автомобільних військ і військ зв’язку</p>
    <p>З автомобільної підготовки вивчалися автомобілі ГАЗ-А-А, ГАЗ-51, ЗІЛ-5.</p>
    <p>Із засобів зв’язку вивчали радіостанції «РБ», «РБМ», «А-7».</p>
    <p>Телефонний апарат ТАІ 43, телефонні комутатори та телеграфні апарати.</p>
     <div class="full-photo-container">
        <%= image_tag("1.jpg",  :alt => "Навчальний процес", class: "full-photo") %>
         <p class="full-photo-title">Навчальний процес</p>
    </div>
    <p>1953-1960 Військова кафедра готувала офіцерів запасу для військ ППО країни.</p>
    <p>Дисципліни вивчалися: стрільба з 3 А, матчастина РПЗ, ремонт РПЗ 3 А, прилади управління вогнем 3 А, променеві прилади, організація зв’язку тактична і стройова підготовка, військова топографія.</p>
   <div class="full-photo-container">
        <%= image_tag("2.jpg",  :alt => "Навчальний процес", class: "full-photo") %>
         <p class="full-photo-title">Навчальний процес</p>
    </div>
     <p>Заняття проводилися в дві зміни. На кафедрі було 4 цикли:</p>

    <ul >
        <li>Матеріальна частина 3 А.</li>
        <li>Підготовка матеріальної частини РЛС.</li>
        <li>Цикл матеріальної частини РЛС.</li>
        <li>Цикл загальновійськової тактики.</li>
    </ul>
    <p>На кафедрі перебувало по штату 38 офіцерів викладачів . Начальник кафедри полковник Третяк Я.М.</p>
    <div class="full-photo-container">
        <%= image_tag("3.jpg",  :alt => "Навчальний процес", class: "full-photo") %>
         <p class="full-photo-title">Навчальний процес</p>
    </div>
    <p>1960-1975</p>
    <p>Військову кафедру очолював ветеран Великої Вітчизняної Війни - начальник кафедри полковник Ніколаєв Олександр Григорович.</p>
    <p>Для підготовки командирів і військових інженерів було створено 7 циклів.</p>
    <ul>
        <li>- загально військовою підготовкою</li>
        <li>- спец тактики</li>
        <li>- матеріальної частини озброєння і бойової роботи стартової батареї</li>
        <li>- бойового і контрольного обладнання ЗУР наземного обладнання і мат частини ЗУР</li>
        <li>- Радіотехнічних систем наведення ЗУР</li>
        <li>- Мат частину експлуатації і ремонту 3 А</li>
    </ul>
    <p>1969-1985</p>
    <p>з числа студентів електроакустичного факультету військова кафедра готувала військових інженерів офіцерів для ВМФ</p>
    <p>В зв’язку з цим був створений профіль №6 матчастина бойового застосування гідроакустичних станцій ВМФ.</p>
    <p>З 1988 року військову кафедру очолив полковник Тетерятник Віктор Данилович</p>

    <p>Навчальний процес на кафедрі вирішував комплексне завдання: навчання, виховання і прищеплення практичних навиків студентам &ndash; майбутнім офіцерам запасу.</p>
    <p>В єдності із завданням навчання вирішувались завдання виховання студентів, прищеплення їм моральних якостей необхідних, озброєним захисникам Вітчизни.</p>
    <p>Основою процесу навчання було глибоке вивчення матеріальної частини, і оволодіння бойовою технікою зенітно-ракетного комплексу та систем зенітної артилерії.</p>
    <p>Активно розвивалися інтернаціональні зв’язки військової кафедри КПІ та військової кафедри Вроцлавського політехнічного інституту.</p>
    <p>Важливим елементом навчального процесу були навчальні збори у військах. Вони організовувалися по 144-годинній програмі та проходили у військових частинах Київського, Білоруського, Ленінградського, Північно - Кавказького та інших військових округах.</p>
   <div class="full-photo-container">
        <%= image_tag("4.jpg",  :alt => "Представники Вроцлавського політехнічного інституту", class: "full-photo") %>
         <p class="full-photo-title">Представники Вроцлавського політехнічного інституту</p>
    </div>

    <p>Безпосередньо знайомство студентів з умовами служби та побуту армійських колективів забезпечували гармонійність формування особистості студента, як офіцера запасу, досконалість командних та методичних навичок отриманих при вивченні курсу військової підготовки в інституті.</p>
    <p>Відповідно до постанови Кабінету Міністрів України від 19 серпня 1992 р. № 490 “Про реформу системи військової освіти”, наказу Міністра оборони України від 25.06.1992 р. № 133 “Про реформування системи військової освіти в Україні” та Директиви Начальника Головного штабу Збройних Сил України від 31 червня 1993 року ДГШ-122 з метою забезпечення якісної підготовки студентів Київського політехнічного інституту за програмою офіцерів запасу кафедра військової підготовки з 1 вересня 1993 року перетворена у факультет військової підготовки при КПІ.</p>
    <p>Відповідно до наказу Міністерства оборони України та Міністерства освіти України від 23 лютого 1999 р. № 52/48 факультет військової підготовки був перетворений у Військовий інститут Національного технічного університету України “Київський політехнічний інститут” і став його структурним підрозділом.</p>
    <p>З метою подальшого вдосконалення підготовки офіцерських кадрів для Збройних Сил України, Служби безпеки України та інших військових формувань в рамках єдиної системи військової освіти і науки на виконання постанови Кабінету Міністрів України від 23 березня 2001 р. № 269 "Про створення Військового інституту телекомунікацій та інформатизації Національного технічного університету України "Київський політехнічний інститут" і Наукового центру зв'язку та інформатизації Збройних Сил на базі Київського військового двічі орденів Червоного прапора інституту управління і зв’язку та Військового інституту Національного технічного університету України “Київський політехнічний інститут”, які ліквідовані, створено Військовий інститут телекомунікацій та інформатизації Національного технічного університету України “Київський політехнічний інститут” (ВІТІ НТУУ “КПІ”).</p>
    <p>Постановою Кабінету міністрів №94 від 30-го січня 2015 року створено
    Кафедру військової підготовки Національного технічного університету
    України "Київський політехнічний інститут". </p>
</div>
<div class="hist_bot"></div>
<p><a href="#top" style="color: #fcffe8;">Вгору!</a></p>
</div>
<!-- <p class="design">Designed by Anastasiya Lisovska</p> -->