<% content_for :title do %>
    Загальновійськові дисципліни
<% end %>
<div class="content-head">
  <h3>Предметно-методична комісія
<br>
&laquo;Загальновійськової дисципліни&raquo;</h3>
</div>
<div class="content-body">
<div class="full-photo-container ">
        <%= image_tag("6.jpg",  :alt => "Білошицький Володимир Іванович", class: "head-photo") %>
         <p class="full-photo-title">Білошицький Володимир Іванович <br>
Підполковник запасу, завідувач кафедри</p>
    </div>
<p>Витоки кафедри сягають в далекі тридцяті роки минулого століття коли в 1926 році в «КПІ» розпочались заняття з вищої допризовної підготовки.
</p>
<p>До 1938 року загальновійськова підготовка проводилась по факультетах. Студенти вивчали Статути, партійно &ndash; політичну роботу Червоної Армії, вогневу та стройову підготовки.
</p>
<p>З створенням у 1938 році військової кафедри «КПІ» загальновійськова підготовка здійснювалась по відповідним предметам на циклах загальновійськової і тактичної підготовки.
</p>
<div class="full-photo-container">
        <%= image_tag("11.jpg",  :alt => "На практичних заняттях з вогневої підготовки", class: "full-photo") %>
         <p class="full-photo-title">На практичних заняттях з вогневої підготовки.<br>
Керівник заняття викладач кафедри,
полковник запасу Пузирьов М.О.</p>
    </div>
<p >Сучасна історія кафедри загальновійськових дисциплін розпочинається з 1993 року, коли відповідно до постанови Кабінету Міністрів України від 19 серпня 1992 р. № 490 “Про реформу системи військової освіти”, наказу Міністра оборони України від 25.06.1992 р. № 133 “Про реформування системи військової освіти в Україні” та Директиви Начальника Головного штабу Збройних Сил України від 31 червня 1993 року ДГШ-122 з метою забезпечення якісної підготовки студентів Київського політехнічного інституту за програмою підготовки офіцерів запасу кафедра військової підготовки з 1 вересня 1993 року перетворена у факультет військової підготовки при КПІ.
</p>
<div class="full-photo-container">
        <%= image_tag("8.jpg",  :alt => "Прийняття присяги", class: "full-photo") %>
         <p class="full-photo-title">Прийняття присяги</p>
    </div>
<p>У складі факультету була створена та розпочала роботу ( 01.09.1993 р.) кафедра загальновійськових дисциплін. Кафедру очолив полковник Довгополий В.Є..
</p>
<p>Організаційно &ndash; штатна структура кафедри включала:</p>
<ul>
    <li>начальника кафедри;</li>
    <li>заступника начальника кафедри;</li>
    <li>три предметно &ndash; методичні комісії (загальної тактики, загальновійськової підготовки, психолого &ndash; педагогічної підготовки).</li>
    <li>навчальну лабораторію;</li>
</ul>
<div class="full-photo-container">
        <%= image_tag("12.jpg",  :alt => "На стрільбах", class: "full-photo") %>
         <p class="full-photo-title">На стрільбах</p>
    </div>
<p>В подальшому процесі реформування системи військової освіти України факультет військової підготовки «КПІ» був реорганізован у військовий інститут НТУУ «КПІ» (1999 рік.), потім у Військовий інститут телекомунікацій та інформатизації Національного технічного університету України “КПІ” (2001 рік.). Відповідно до цих змін кафедра загальновійськової підготовки у 1999 році була реорганізованау кафедру загальновійськових дисциплін, яку послідовно очолювали:
</p>
<ul>
    <li>полковник Довгополий В.Є. (1993 &ndash; 1996 рр.)</li>
    <li>полковник Баранов О.В. (1997 - 1998 рр.)</li>
    <li>полковник Овчаров О.О. (1998 &ndash; 2000 рр.)</li>
    <li>полковник Шульга Л.М. (2001 - 2003 рр. )</li>
    <li>полковник Канюка О.Ф. (2004 &ndash; 2006 рр. )</li>
    <li>полковник запасу Стукан С.О. (2007)</li>
</ul>
<p>На сьогоднішній день кафедра загальновійськових дисциплін, факультету військової підготовки, Військового інституту телекомунікацій та інформатизації, Національного технічного університету України “КПІ” здійснює підготовку студентів вищих навчальних закладів за програмою офіцерів запасу по трьом напрямкам:
</p>
<ul>
    <li>Загальновійськова підготовка;</li>
    <li>Методика роботи з гуманітарних питань в ЗС України;</li>
    <li>Військово &ndash; спеціальна підготовка;</li>
</ul>
<p>На кафедрі створено та функціонує дві предметно &ndash; методичні комісії: ПМК №1 - загальновійськової підготовки, ПМК №2 - гуманітарної підготовки, які укомплектовані досвідченими викладачами, що мають високий науковий та професійний рівень та педагогічний досвід понад 20 років.
</p>
<p>Кафедру очолює: полковник запасу - Стукан Сергій Олександрович
</p>
<p>За короткий термін зусиллями сьогоднішнього колективу вдалося створити, а в подальшому і вдосконалити, систему підготовки військових спеціалістів, яка відповідає сучасним вимогам побудови Збройних Сил України.
</p>
<p> Навчальний процес на кафедрі вирішує комплексне завдання: навчання, виховання і прищеплення практичних навиків студентам &ndash; майбутнім офіцерам запасу.
</p>
<div class="full-photo-container">
        <%= image_tag("9.jpg",  :alt => "Під час несення чергування", class: "full-photo") %>
         <p class="full-photo-title">Під час несення чергування</p>
</div>
<p>Склад кафедри на сьогоднішній день:
</p>
<ul>
    <li>Стукан Сергій Олександрович - завідувач кафедри</li>
    <li>Канюка Олексій Федорович &ndash; старший викладач-голова предметно-методичної комісії</li>
    <li>Пузирьов Микола Олександрович &ndash; викладач</li>
    <li>Маркелов Володимир Віленович &ndash; викладач</li>
    <li>Рощенко Сергій Віталійович &ndash; викладач</li>
    <li>Білошицький Володимир Іванович &ndash; старший викладач &ndash; голова предметно-методичної комісії</li>
    <li>Воронцов Михайло Миколайович &ndash; викладач</li>
    <li>Індік Віталій Анатолійович &ndash; викладач</li>
    <li>Савицький Валерій Іванович - викладач</li>
    <li>Фісуненко Наталія Павлівна - викладач</li>
    <li>Павловський Володимир Валентинович - викладач</li>
    <li>Васильчук Леонід Павлович &ndash; завідуючий лабораторією</li>
    <li>Хмелюк Олена Миколаївна &ndash; старший лаборант</li>
</ul>
<p><a href="#top" style="color: #fcffe8;">Вгору!</a></p>
</div>
<!-- <p class="design">Designed by Anastasiya Lisovska</p> -->