<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <meta name="description" content="Головна" />
    <meta name="keywords" content="КПІ, Військова підготовка, Военка, Военная кафедра , Факультет військової підготовки " />
    <meta name='yandex-verification' content='58076d6e0bb41f04' />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Kelly+Slab&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Noto+Serif&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="http://fvp.kpi.ua/templates/default/img/favicon.ico" />
    <%= stylesheet_link_tag 'jQuery/jquery.lightbox.css' %>
    <%= stylesheet_link_tag 'jQuery/jquery-ui-1.8.20.custom.css' %>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>
      !window.jQuery && document.write('<script type="text/javascript" src="scripts/jquery-1.7.2.min.js"><\/script>')
    </script>
    <%= javascript_include_tag 'jQuery/jquery.lightbox.js' %>
    <%= javascript_include_tag 'jQuery/jquery-ui-1.8.20.custom.min.js' %>
    <%= javascript_include_tag 'jQuery/jquery.cookie.js' %>
    <%= javascript_include_tag 'jQuery/jquery.chained.js' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav role='navigation'>
      <div class="menu-bar">
        <ul class="menu-group">
          <li id="brand-li">
            <%= link_to root_path, class: 'brand' do %>
              <%= image_tag("log.png",  :alt => "Brand") %>
            <% end %>
          </li>
          <li id="about-menu">
            <%= link_to 'Про нас', root_path, class: 'menu-item' %>
            <ul>
              <li><%= link_to 'Історія кафедри', history_path, class: 'main_post' %></li>
              <li><%= link_to 'Керівний склад', management_team_path, class: 'main_post' %></li>
              <!-- <li><%#= link_to 'Навчально-допоміжний склад', left_menu_educational_and_support_path, class: 'main_post' %></li> -->
              <!-- <li><%# link_to 'Навчальний процес', left_menu_learning_process_path, class: 'main_post' %></li> -->
              <li><a class='main_post'>Предметно методичні комісії</a>
                <ul>
                  <li><%= link_to 'Загальновійськові дисципліни', chair_total_military_discipline_path, class: 'main_post' %></li>
                  <li><%= link_to 'Тактика', chair_tactics_path, class: 'main_post' %></li>
                  <li><%= link_to 'Бойове застосування озброєння військ ППО СВ', chair_combat_use_of_weapons_of_anti_air_forces_path, class: 'main_post' %></li>
                  <li><%= link_to 'Бойове застосування озброєння Повітяних сил', chair_combat_use_of_weapons_of_air_forces_path, class: 'main_post' %></li>
                </ul>
              </li>
            </ul>
          </li>
          <li id="abiturient-menu">
            <a class="menu-item" href="#">Вступнику</a>
            <ul>
              <li><%= link_to 'Умови вступу', for_listener_conditions_of_entry_path, class: 'main_post' %></li>
              <li><%= link_to 'Довідка з висновком військово-лікарської комісії', for_listener_medical_examination_certificate_path, class: 'main_post' %></li>
              <li><%= link_to 'Напрями та спеціальності підготовки', for_listener_specialties_path, class: 'main_post' %></li>
              <li><%= link_to 'Закон України про військовий обов\'язок та військову службу', for_listener_law_on_military_duty_path, class: 'main_post' %></li>
              <li><%= link_to 'Оплата за навчання', for_listener_payment_path, class: 'main_post' %></li>
            </ul>
          </li>
          <li id="faq">
            <%= link_to 'Питання та відповіді', for_listener_faq_path, class: 'main_post' %>
          </li>
          <li class="right" id="contacts-menu">
            <%= link_to 'Контакти', contacts_path, class: 'menu-item' %>
          </li>
        </ul>
      </div>
    </nav>
    <div id="wrapper">
      <div id="content">
        <%= yield %>
        <footer>
          <p>Кафедра військової підготовки. 2015</p>
          <p class="design">Designed by Anastasiya Lisovska</p>
        </footer>
      </div>
    </div>
  </body>
</html>